
 /* ページ全体を覆うコンテナ */

 body{
    margin:0px;
 }

 .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
   /*================ ヘッダー ===============*/

  .top-float {
    height: 10em;
    text-align: center;
    background-color: #ffffff;
	z-index: 999;
	padding-bottom: 10px;
  }


/* 状況確認タブ */
  #status-check,.situations{
	display: flex;
	justify-content: space-evenly;
  }

  .situations{
	font-size: 1.3em;
	padding: 10px 0 10px 0;
  }

  #status-check{
    margin-top: 2em;
	}

  .safe,.danger,.uncertain{
	display: flex;
  }

  .num{
	display: flex;
	padding-left: 1.7em;
	font-size: 25px;
  }

  #safe-icon,#danger-icon,#uncertain-icon{
	box-sizing: border-box;
    padding: 5px 5px;
    /* 形状の指定 */
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }

  /* 安全 */
  #safe-icon{
	background-color:#6EAA00;  
  }

  #safe-txt,#anzen{
	color:#6EAA00;
  }

  #anzen{
	padding-right: 1em;
  }

  #safe{
	padding-right: 0.5em;
  }

  #whole{
	padding-left: 0.5em;
  }

  /* 危険 */
  #danger-icon{
	background-color: #D60015; 
  }

  #dan-txt,#kinnkyuu{
	color: #D60015;
  }
  
  /* 未確認 */
  #uncertain-icon{
	 background-color: #C5C5C5
  }

  #unc-txt,#mikakunin{
	color: #C5C5C5;
  }



    /* スクロール可能なコンテンツエリア */
	.scrollable-content {
		padding-top: 1em;
		flex: 1;
		overflow-y: auto;
	  }
	  


  /*========= フッター ===============*/

  .bottom-float {
    height: 6em;
    background-color: #ffffff;
	border-top: solid 3px #A1A1A1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* ドロップダウンメニュー */

  .dropdown {
    position: relative;
	}

	.dropdown select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    border: 3px solid #A1A1A1;;
    border-radius: 25px;
    background-color: #ffffff;
    color:#A1A1A1;
    cursor: pointer;
	text-align: center;
	}

	.dropdown select:focus {
		border: none;
    	outline: 3px solid #0600CB;
	}

  form {
	display: flex;
	align-items: center;
  }

  .dropdown{
	margin-right: 1.2em;
  }

   /* 四角いボタン */
   .square-button{
	display: flex;
	justify-content: space-between;
  }

  /* ボタン */
  .button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  /* 丸いボタン */
  #eyecon {
	overflow: hidden;
	font-size: 40px;
	background-color: #C5C5C5;
	color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 50px;
  }

  /* 送信ボタン */
  #upload{
	background-color: #ffffff;	
    color: #A1A1A1;
	border: solid 3px #A1A1A1;
	text-align: center;
	font-size: 1.5em;
	margin-right: 1em;
  	line-height: 45px;
  }

  #upload:hover{
	background-color: #A1A1A1;
	color:#ffffff;
  }
  
  /* ログアウトボタン */
  #logout{
	background-color: #0600CB;	
    color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	height: 50px;
  	line-height: 50px;
	width: 8em;
  }

  #logout:hover{
	background-color: rgb(108, 110, 227);
	color:#ffffff;
  }





  /*========= 投稿文のためのCSS ===============*/

  /* 投稿文全体 */
  .posts{
	display: flex;
	padding: 1em;
	padding-top: 2em;
	justify-content: center;
	border-bottom: solid 3px #A1A1A1;
  }

  /* 見出し全体 */
  .headline{
	display: flex;
	justify-content: space-between;
  }

  /* アイコン以外 */
  .contents{
	padding-left: 2em;
  }

  /* アイコン */
 .icon {
	box-sizing: border-box;
    padding: 10px 10px;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
	text-align: center;
	font-size: 40px;
    /* 形状の指定 */
	background-color: #D60015;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/* 名前 */
.full-name{
	display: flex;
	font-size: large;
	font-weight: bold;
	justify-content: space-between;
	padding-right: 1.2em;
}

/* 名字 */
.last-name{
	padding-right: 0.5em;
}

/* 部署名 */
.department{
	font-size: large;
	color: #999;
}

/* 時刻表記 */
.time {
	width: 6em;
	font-size: small;
	color: #999;
	padding: 0.3em 0 0 6em;
}

/* 状況全体 */
.statuses {
	display: flex;
	margin:0.5em;
}

.statuses div {
	border: solid 2px #A1A1A1;
	border-radius: 15px;
	width: 10em;
	padding: 10px;
}

.status1,.status2,.status3{
	text-align: center;
	margin: 0 0.7em;
	/* #D0BD4F　注意色*/
}



  /*========= ナビゲーションドロップダウンのためのCSS ===============*/



/*==ナビゲーション全体の設定*/
nav{
	background:#fff;
	color:#333;
	border-bottom: solid 3px #A1A1A1;
	text-align: center;
}
/*ナビゲーションを横並びに*/
nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;		/*	変更点　*/
	margin-top: 0;
}
/*2階層目以降は横並びにしない*/
nav ul ul{
	display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
	position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
	display: block;
	text-decoration: none;
	color: #A1A1A1;
	padding:10px 17px;
	transition:all .3s;
	font-size: 1.2em;
}

nav ul li li a{
	padding:10px 35px;
}

/* hoverされた時の設定 */
nav ul li a:hover{
	color:#0600CB;	
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before{
	content:'';
	position: absolute;
	left:95px;
	top:17px;
	width:6px;
	height:6px;
	border-top: 2px solid #A1A1A1;
    border-right:2px solid #A1A1A1;
    transform: rotate(135deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul{
    /*絶対配置で位置を指定*/
	position: absolute;
	left:0;
	top:62px;
	z-index: 4;
	padding-left: 0;	/*  変更点 */
    /*形状を指定*/
	background:#ffffff; /* 変更点 */
	width: 180px;
    /*はじめは非表示*/
	visibility: hidden;
	opacity: 0;
    /*アニメーション設定*/
	transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
	color: #333;   /*　変更点　*/
	border-bottom:solid 2px rgb(161,161,161);		/*　変更点　*/
}

nav li.has-child ul li:last-child a{
	border-bottom:none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
	background:#ccc;
}


/*==768px以下の形状*/

@media screen and (max-width:768px){
	nav{
		padding: 0;
	}
	
	nav ul{
		display: block;
	}
	
	nav li.has-child ul,
	nav li.has-child ul ul{
  	position: relative;
	left:0;
	top:0;
	width:100%;
	visibility:visible;/*JSで制御するため一旦表示*/
	opacity:1;/*JSで制御するため一旦表示*/
	display: none;/*JSのslidetoggleで表示させるため非表示に*/
	transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}


/*矢印の位置と向き*/

nav ul li.has-child::before{
	left:20px;	
}

nav ul ul li.has-child::before{
    transform: rotate(135deg);
	left:20px;
}
    
nav ul li.has-child.active::before{
    transform: rotate(-45deg);
}

}